<a href="https://colab.research.google.com/github/jigangz/Week1---Intro-to-Python/blob/new/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Adding two numbers
a = 5
b = 3
result = a + b
print(result)  # Output: 8

In [ ]:
# Using f-string to format a string
name = "John"
age = 25
greeting = f"Hello, my name is {name} and I am {age} years old."
print(greeting)

In [ ]:
# Checking if a number is even or odd
num = 4
if num % 2 == 0:
    print(f"{num} is even")
else:
    print(f"{num} is odd")

In [ ]:
# Using a for loop to iterate over a range of numbers
for i in range(5):
    print(f"Iteration {i}")

In [ ]:
# While loop to sum numbers from 1 to 5
total = 0
i = 1
while i <= 5:
    total += i
    i += 1
print(f"Sum of numbers from 1 to 5: {total}")

In [ ]:
# Creating a list of squares using list comprehension
squares = [x**2 for x in range(1, 6)]
print(squares)  # Output: [1, 4, 9, 16, 25]

In [ ]:
# Defining a function to calculate the area of a rectangle
def area_of_rectangle(length, width):
    return length * width

# Calling the function
print(area_of_rectangle(5, 3))

In [ ]:
# Creating a simple class for a Dog
class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def bark(self):
        print(f"{self.name} is barking!")

# Creating an object of the Dog class
my_dog = Dog("Buddy", 2)
my_dog.bark()

In [ ]:
# Iterating over a dictionary's keys and values
person = {"name": "Alice", "age": 30, "city": "New York"}
for key, value in person.items():
    print(f"{key}: {value}")

In [ ]:
# Using list methods to append and remove items
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
fruits.remove("banana")
print(fruits)  # Output: ['apple', 'cherry', 'orange']

In [ ]:
# Demonstrating set union and intersection
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
union_set = set1 | set2
intersection_set = set1 & set2
print("Union:", union_set)  # Output: Union: {1, 2, 3, 4, 5, 6}
print("Intersection:", intersection_set)  # Output: Intersection: {3, 4}

In [ ]:
# Unpacking a tuple into variables
coordinates = (4, 5)
x, y = coordinates
print(f"x: {x}, y: {y}")

In [ ]:
# Using a lambda function to calculate square
square = lambda x: x**2
print(square(4))  # Output: 16

In [ ]:
# Handling division by zero error
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Error: Division by zero!")

In [ ]:
# Writing to a file
with open('example.txt', 'w') as file:
    file.write("Hello, this is a test file.")

In [ ]:
# Reading from a file
with open('example.txt', 'r') as file:
    content = file.read()
    print(content)

In [ ]:
# Using map function to double the values in a list
numbers = [1, 2, 3, 4]
doubled = list(map(lambda x: x * 2, numbers))
print(doubled)  # Output: [2, 4, 6, 8]

In [ ]:
# Importing the math module and using sqrt function
import math
print(math.sqrt(16))  # Output: 4.0

In [ ]:
# Slicing a list to get the first three elements
my_list = [10, 20, 30, 40, 50]
sliced_list = my_list[:3]
print(sliced_list)  # Output: [10, 20, 30]

In [ ]:
# Using enumerate to get the index and value in a loop
animals = ['cat', 'dog', 'bird']
for index, animal in enumerate(animals):
    print(f"Index: {index}, Animal: {animal}")